* {
    font-family: 'Times New Roman', Times, serif ;
}


.image {
    width: 30px;
    height: 30px;
    border: 5px solid black;
    padding: 0.1rem;
    white-space: wrap;
    
}

section {
    display: flex;
    flex-direction: row;
    border: 2px solid black;

}